<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="KyMoRem - Keyboard Mouse Remote"
    Manufacturer="Pawel Zorzan Urban AKA okno"
    Version="$(var.ProductVersion)"
    UpgradeCode="{2B07E830-E85F-42B9-8EEF-7A3BDFE922B5}"
    Scope="perUser"
    Language="1040">

    <MajorUpgrade DowngradeErrorMessage="A newer version of KyMoRem is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="KyMoRem" />
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceDir)\**" />
    </ComponentGroup>

    <Feature Id="MainFeature" Title="KyMoRem" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>
</Wix>
